/** Add css rules here for your application. */
body {
  font-family:arial,sans-serif
}

div,td {
  color:#000000
}

a:link {
  color:#0000cc
}
     
a:visited {
  color:#551a8b
}

a:active {
  color:#ff0000
}

button {
  display: block;
  font-size: 16pt
}

.destinationPanel {
  width: 100%;
  border-style: solid
}

.movingPanel {
  width: 100%;
  background:#55AABB;
  border: thin dotted #4499AA
}

.durationPanel {
  background:#225566;
  border: thin dotted #4499AA
}

img {
  margin-top: 0px;
}